<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>SetCookiesAndSessionServlet</servlet-name>
        <servlet-class>test.SetCookiesAndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookiesAndSessionServlet</servlet-name>
        <url-pattern>/SetCookiesAndSession</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadCookiesAndSessionServlet</servlet-name>
        <servlet-class>test.ReadCookiesAndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookiesAndSessionServlet</servlet-name>
        <url-pattern>/ReadCookiesAndSession</url-pattern>
    </servlet-mapping>

</web-app>
