<web-app >

    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>test.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/ForwardServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>IncludeServlet</servlet-name>
        <servlet-class>test.IncludeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncludeServlet</servlet-name>
        <url-pattern>/IncludeServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TargetServlet</servlet-name>
        <servlet-class>test.TargetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TargetServlet</servlet-name>
        <url-pattern>/TargetServlet</url-pattern>
    </servlet-mapping>

</web-app>
